* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.whole_template {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  background: #f7f7f9;
}

.home_page {
  width: 100%;
  height: 100vh;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
  background: white;
}

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 5%;
  background: rgb(14, 17, 17);
}

.logo {
  font-size: 21px;
  text-decoration: none;
  font-weight: 600;
  color: white;
  cursor: default;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}

.home-sci a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: white;
  border: 2px solid black;
  border-radius: 100%;
  font-size: 20px;
  color: black;
  text-decoration: none;
  margin: 30px 15px 30px;
  transition: 0.5s ease;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}

.navbar a {
  display: inline-block;
  font-size: 25px;
  text-decoration: none;
  font-weight: 500;
  margin-left: 20px;
  transition: 0.4s;
  color: #fff;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}

.navbar a:hover {
  color: #0ef;
}

.hambarger {
  display: none;
}

.main {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10%;
}

.home-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  height: 50%;
  border: none;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-right-width: 10px;
  border-right-style: dashed;
  border-radius: 20px;
  padding: 20px;
}

.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 0.7s;
  
}

.home-content h1 {
  font-size: 56px;
  font-weight: 700;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}

.text1 {
  background: black;
  color: white;
}

.text {
  color: white;
  background: black;
  padding: 5px;
}

.home-content p {
  font-size: 29px;
  line-height: 35px;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}

.home-sci a:hover {
  border: 2px solid white;
  background: black;
  color: white;
  box-shadow: 0 0 30px black;
}

#portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  padding-left: 0;
}

.portfolioCont {
  display: flex;
  width: 100%;
  margin: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background: black;
  color: white;

  border: 2px solid white;
  border-style:dotted;
  border-top-width: 5px;
}

.portfolioCont:hover {
  color: black;
  background: white;
  border: 2px solid black;
  border-style:dotted;
  border-top-width: 5px;
}

.imageCont {
  width: 44.3vw;
  height: 45vh;
  border-radius: 10px;
  margin: 0 5px 0 5px;
}

.detailsCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 50vh;
  padding: 2%;
}

.left_item {
  flex-direction: row-reverse;
}

.right_item {
  flex-direction: row;
}

.stacklist {
  text-decoration: none;
}

.detailsCont h2 {
  font-size: 21px;
  margin-bottom: 4%;
}

.detailsCont ul {
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  width: 50%;
  height: 40px;
  margin-bottom: 4%;
}

.detailsCont p {
  height: 10%;
  margin-bottom: 4%;
}

.tech {
  text-align: center;
  width: 30%;
  padding: 10px;
  border: 2px solid;
  margin-left: 5px;
}

.detailsCont button {
  height: 40px;
  font-size: 18px;
  border-radius: 10px;
  margin-right: 10px;
  background:  white;
}

.detailsCont button:hover {
  background: black;
  color: white;
}

#about {
  display: flex;
  width: 90%;
  height: 80vh;
  margin-bottom: 20px;
  border: 2px solid black;
  border-style: dashed;
}

.aboutCont {
  width: 50%;
  padding: 10% 2%;
  box-shadow: 0 0 30px black;
}

.aboutCont p:hover {
  border: none;
  border-right: 2px solid black;
  border-bottom: 2px solid white;
  border-bottom-right-radius: 50px;
  border-bottom-style: dotted;
  border-bottom-width: 5px;
  background: rgba(60, 54, 54, 0.089);
  padding: 10px;
  box-shadow: 0 0 30px black;
}

.connect {
  border-radius: 10px;
  border-style: dashed;
  border-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5px;
  height: 80px;
}

.connect legend {
  background: black;
  color: white;
}

.getResume {
  background: none;
  border: none;
}

.getResume a {
  font-size: 18px;
  padding: 10px;
  text-decoration: none;
  background: black;
  color: white;
  border-radius: 10px;
}

.getResume a:hover {
  border: 2px solid black;
  background: white;
  color: black;
  box-shadow: 0 0 16px;
}

.technical {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  font-size: 20px;
}

#skill_content,
#frame_content,
#lang_item {
  display: none;
  min-width: 160px;  
}

.col {
  font-size: 30px;
  color: black;
  display: block;
  margin-bottom: 5px;
}

.col:hover {
  background: black;
  color: white;
  border-bottom: 2px solid white;
  box-shadow: 0 0 30px black;

}

.tech_span {
  font-size: 10px;
}

#contact {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  padding: 0 10%;
  border-radius: 30px;
  background: rgba(60, 54, 54, 0.089);
  
}

.contact_heading {
  font-size: 26px;
}

.cont_container {
  display: flex;
  width: 90%;
}

.contact_paragraph {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 50vw;
  height: 50vh;
  font-size: 18px;
  line-height: 35px; 
  margin-left: 10px;
}

.contact_paragraph:hover {  
  color: white;
  background: black;

}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50vw;
  height: 50vh;
  background: white;
  padding: 10px;
      animation: formFadeIn 1s ease-in-out;
}

form:hover {
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
  border: 2px solid black;
  border-radius: 10px;
}

@keyframes formFadeIn {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(-20px);
  }
}

.text_area,
.input {
  width: 90%;
  font-size: 18px;
  padding: 2px;
  border: none;
  outline: none;
  border-bottom: 2px solid black;
  border-bottom-style:dashed;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-width: 3px;
  padding: 2px 30px 0 5px;
  margin-bottom: 10px;
}

.input {
  height: 50px;
}

.text_area {
  height: 170px;
}

.text_area:hover,
.input:hover {
  box-shadow: 10px 10px 36px rgb(3, 8, 1);
  background: rgba(60, 54, 54, 0.089);
  outline-style: dashed;
  outline-color: white;
}



#contact_btn {
  font-size: 21px;
  width: 100px;
  height: 40px;
  border-radius: 10px;
}

#contact_btn:hover {
  background: black;
  color: white;
}

@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  50% {
    transform: translateX(0);
    opacity: 0.1;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0.1;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0.1;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (max-width: 786px) {
  * {
    box-sizing: border-box;
  }

  .header {
    display: none;
  }

  .hambarger {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    height: 25vh;
  }

  .logo {
    background: black;
    color: white;
    height: 30px;
  }

  .hambarger.open {
    background: rgb(10, 10, 10);
  }

  .hambarger_menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 30vw;
  }

  .icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30px;
    width: 40px;
    cursor: pointer;
  }

  .icon span {
    width: 100%;
    height: 4px;
    background: black;
    transition: all 0.3s ease-in-out;
  }

  .menu_links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    height: 18vh;
    margin: 30px 10%;
    left: -100%;
  }

  .home-sci a {
    width: 25px;
    height: 25px;
    font-size: 15px;
  }

  .menu_links a {
    font-size: 16px;
    text-decoration: none;
    color: white;
    text-align: center;
    width: 76vw;
  }

  .menu_links a:hover {
    color: black;
    background: white;
  }

  .menu_links.open {
    left: 0;
  }

  .icon.open span:first-child {
    transform: rotate(45deg) translateY(17px);
    background: white;
  }

  .icon.open span:nth-child(2) {
    opacity: 0;
  }

  .icon.open span:last-child {
    transform: rotate(-45deg) translateY(-20px);
    background: white;
  }

  .main {
    height: 60vh;
    padding: 5%;
    align-items: flex-start;
  }

  .home-content {
    width: 100%;
    height: 80%;
    border-right-width: 5px;
  }

  .home-content h3 {
    font-size: 16px;
  }

  .home-content h1 {
    font-size: 26px;
  }

  .home-content p {
    font-size: 16px;
  }

  .detailsCont ul {
    width: 100%;
  }
 
  #about {
    flex-direction: column;
  }

  .aboutCont {
    width: 100%;
  }

  .portfolioCont {
    flex-direction: column;
  }

  .detailsCont{
    width: 100%;
  }

  .imageCont {
    width: 97%;
  }

  #contact {
    width: 90%;
    height: 100vh;
    padding: 0;
  }

  .cont_container {
    flex-direction: column;
    width: 100%;
  }

  form,
  .contact_paragraph {
    width: 100%; 
    height: 30vh; 
    margin-left: 0;  
  }

  form {
    width: 100%;
    height: 50vh;
  }

  .text_area,
  .input {
    width: 100%;
  }

 
}
